footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;
  border-top: 0.1rem solid white;

  nav {
    width: 160px;
    display: flex;
    justify-content: end;
  }
  a {
    font-size: 0.8rem;
    text-decoration: none;
    margin: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  img {
    width: 30px;
    Height: 30px;
  }
}
