.add-photo {
  background-color: black;
  margin: 0;
  min-height: calc(100vh - 15px - 100px);

  h1 {
    text-align: center;
    font-size: 1.8rem;
    color: white;
    margin: 0;
    padding: 40px;
  }

  form {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 900px;
    color: white;
  }

  input {
    margin: 8px 5px 18px 5px;
    height: 30px;
    background-color: rgb(97, 94, 94);
    font-size: 1rem;
    color: white;
  }

  button {
    height: 30px;
    width: 110px;
    cursor: pointer;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .update {
    .form {
      margin: 0 auto;
    }
    input {
      font-size: 1.2rem;
    }
  }
}
