header {
  background-color: rgb(84, 86, 86);
  display: flex;
  align-items: center;
  justify-content: end;
  height: 50px;

  /* img {
    height: 30px;
    width: 35px;
    border: 2px solid goldenrod;
  } */

  .nav-categories {
    /* border: 2px solid red; */
    width: 160px;
  }
  a {
    /* border: 2px solid yellowgreen; */
    font-size: 0.8rem;
    text-decoration: none;
    margin: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
}
