header {
  background-color: aqua;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;

  img {
    height: 30px;
    width: 35px;
    border: 2px solid goldenrod;
  }

  .nav-categories {
    border: 2px solid red;
  }
  a {
    border: 2px solid yellowgreen;
    font-size: 0.8rem;
  }
}
